.section__padding{
    padding:2.2rem 2rem;
}
.footer{
  background-color:rgb(206, 223, 244);
  /* background-color: #dbdeff; */
  /* background-color: #e9dad5;; */

}
.sb_footer{
    display:flex;
    flex-direction: column;
    }
.sb_footer-links{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width:100% ;
    text-align: left;
    margin-bottom: 2rem;

}   
.sb_footer-links_div{
    width: 150px;
    margin: 1rem;
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(0, 6, 11);

}
a{
    color:antiquewhite;
    text-decoration: none;

}
.socialmedia img{
    width:25%;
    border-radius:10px;
}
.sb_footer-links_div h4{
    font-size: 22px;
    line-height: 1.6;
    margin-bottom: 0.1rem;
}
.sb_footer-links_div p{
    font-size: 15px;
    line-height: 200%;
    margin: 0.5rem;
    cursor:pointer;
     color: black;
}
.sb__footer-below{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.7rem;
    color: black;
    }
.sb__footer-below-links{
    font-size: 13.5px;
    line-height: 1.45;
    margin-left: 2rem;
    color: rgb(21, 20, 20);
    font-weight: 600;
}    
hr{
    color:rgb(15, 15, 15) !important;
    width: 100%;
}
.sb__footer-copyright p{
    font-size: 13px;
    line-height: 15px;
    color: rgb(9, 9, 9);
    font-weight: 600;
}
@media screen and (max-width:850px) {
    .sb__footer-heading h1{
        font-size: 44px;
        line-height: 50px;
    }
}
@media screen and (max-width:550px) {
    .sb__footer-heading h1{
        font-size: 34px;
        line-height: 42px;
    }
    .sb__footer-links div{
        margin:1rem 0;
    }
    .sb__footer-btn p{
        font-size: 14px;
        line-height: 20px;
    }
    .sb__footer-below{
        flex-direction:column;
        justify-content: left;
 
   }
   .sb__footer-below{
    flex-direction: column;
    justify-content: left;

   }
   .sb__footer-below-links{
    flex-direction: column;
    color: black;
   }
   .sb__footer-below-links p{
    margin-left: 0rem;
    margin-top: 1rem;
    color: black;
   }

}
@media screen and (max-width:400px){
    .sb__footer-heading h1{
        font-size: 27px;
        line-height: 38px;
    }
}